/* Layout.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 16px;
  background-color: #f8f9fa; /* світлий фон */
  color: #212529; /* темний текст */
  font-family: Arial, sans-serif; /* шрифт */
  box-sizing: border-box;
}
